/* Global Properties */
html {
  scroll-behavior: smooth;
}
body {
  background-image: url("view.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Baloo Tamma 2", cursive;
}
.text-white {
    font-size: 24px;
}
/*Main Heading Font */
.m-heading {
  font-family: "Roboto Slab", serif;
}
/*Navigation */
.navigation-link {
  border: 2px solid transparent;
}
.navigation-link:hover {
  text-decoration: none;
  border-bottom: 2px solid #f50909;
  transition: 0.5s ease;
}
/* Aligning items in main row */
.row {
  display: flex;

  align-items: center;
}

/* About Section */
#about {
  background: #313552;
  border-radius: 0.5rem;}
  /* Booking Section */
#booking {
    background: #313552;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
  }
  h3 {
    font-family: "Roboto Slab", serif;
  }
  /* Social Media Section */
#social-media {
  background: #313552;
  border-radius: 0.5rem;
}
/* Add color to Social Media Links */
.media_link {
  padding: 1rem;
  max-width: 15rem;
  margin-left: 1rem;
  border: 2px solid #f50909;
  border-radius: 0.5rem;
}
footer {
  background: #35363e;
}